<main class="lg-p-5 p-1">
    <div class="d-flex flex-wrap gap-3 justify-content-between pb-2 border-green-bottom mx-5 mb-4 mt-5">
    
        <div class="d-flex align-items-center gap-3">
            <i class="fa fa-list-ol fa-3x" aria-hidden="true"></i>
            <strong>Vacation Reuqest</strong>
        </div>
    
        <div class="bg-white d-flex align-items-center px-3 rounded-pill border-green">
            <i class="fa fa-search fa-xl" aria-hidden="true"></i> 
            <input [(ngModel)]="search" style="outline: 0;" class="border-0" type="text" placeholder="Search..."/>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-between px-5 pb-2">
        <div class="d-flex gap-2">
            <input [(ngModel)]="selectAll" type="checkbox" id="select-all"> <label for="select-all"> Select All</label>
        </div>

        <i class="fa fa-filter fa-3x" aria-hidden="true"></i>
    </div>

    <div class="d-flex flex-wrap w-full px-5 py-3 gap-3 justify-content-around">
        @for (card of cardInfo; track $index) {
            @if (card.name.toLowerCase().includes(search.toLowerCase())){
              <app-request-card
              [name]="card.name"
              [submissionDate]="card.submissionDate"
              [duration]="card.duration"
              [salary]="card.salary"
              [selected]="selectAll"
              [pfp]="undefined"
              />
            }
          }
    </div>
</main>